/.config/Autodesk/
/.config/coc/
/.config/evcxr/
/.config/gdrive3/
/.config/git/
/.config/htop/
/.config/iterm2/
/.config/nvim/.netrwhist
/.config/powershell/git-autoclone-config.txt
/.config/pulse/
/.config/pypoetry/
/.config/rclone/
/.config/wvpa.toml
